@import "smart-grid";

// Header breaks
@break_header: @break_xs; //Used in script
//@break_header: 630px; //Used in script

// Advantages
@break_advantages: 650px;
@break_advantages_2: 1236px;

//Steps
@break_steps_1: 1090px;
@break_steps_2: 1000px;
@break_steps_3: 930px;
@break_steps_4: 860px;
@break_steps_5: 540px;
@break_steps_6: 460px;

// Games selector
@break_gamesSelector_img: (1230px - @break_lg) / 2 + @break_lg;

// Footer breaks
@break_footer_right: 1070px;
@break_footer_2: 670px;
@break_footer_3: 550px;