@import "smart-grid";

// Header breaks
@break_header: 630px;

// Games selector
@break_gamesSelector_img: (1230px - @break_lg) / 2 + @break_lg;

// Footer breaks
@break_footer_right: 1070px;
@break_footer_2: 670px;
@break_footer_3: 550px;