@color_bg_main: #082040;
@color_menu_border: #08a5ff;
@color_menu_link_hover: #08a5ff;
@color_slogan_description: #6db4ff;
@color_almostWhite: #fefefe;
@color_gameSelect_text: #0091ea;
@color_gamesSelect_shadow: #041b38;
@color_gamesSelect_radialGradient: #1a8aff;
@gradient_slogan: radial-gradient(circle farthest-side,
    fade(@color_gamesSelect_radialGradient, 60%) 0%,
    fade(@color_gamesSelect_radialGradient, 59%) 6%,
    fade(@color_gamesSelect_radialGradient, 53%) 15%,
    fade(@color_gamesSelect_radialGradient, 18%) 44%,
    fade(@color_gamesSelect_radialGradient, 7%) 57%,
    fade(@color_gamesSelect_radialGradient, 1%) 74%,
    transparent 100%);
@gradient_gamesSelect: radial-gradient(circle closest-side,
    fade(@color_gamesSelect_radialGradient, 12%) 0%,
    fade(@color_gamesSelect_radialGradient, 11%) 14%,
    fade(@color_gamesSelect_radialGradient, 1%) 60%,
    transparent 100%);
@color-footer-light: #8292a7;
@color-yellow: #ff9800;