@color_bg_main: #082040;
@color_menu_border: #08a5ff;
@color_menu_link_hover: #08a5ff;





@color_slogan_description: #6db4ff;
@color_almostWhite: #fefefe;

@gradient_slogan: radial-gradient(ellipse farthest-side,
    fade(@color_gamesSelect_radialGradient, 60%)  0%,
    fade(@color_gamesSelect_radialGradient, 59%)  6%,
    fade(@color_gamesSelect_radialGradient, 53%) 15%,
    fade(@color_gamesSelect_radialGradient, 18%) 44%,
    fade(@color_gamesSelect_radialGradient,  7%) 57%,
    fade(@color_gamesSelect_radialGradient,  1%) 74%,
    transparent 100%);

@color_shadow: #001c42;
@gradient_shadow_01: radial-gradient(ellipse farthest-side,
    fade(@color_shadow, 59%)  0%,
    fade(@color_shadow, 59%)  1%,
    fade(@color_shadow, 58%) 79%,
    fade(@color_shadow, 56%) 81%,
    fade(@color_shadow, 46%) 83%,
    fade(@color_shadow, 15%) 91%,
    fade(@color_shadow,  7%) 92%,
    fade(@color_shadow,  2%) 96%,
    transparent 100%);
@gradient_shadow_02: radial-gradient(ellipse farthest-side,
    fade(@color_shadow, 88%)  0%,
    fade(@color_shadow, 87%) 21%,
    fade(@color_shadow, 81%) 33%,
    fade(@color_shadow, 74%) 40%,
    fade(@color_shadow, 67%) 45%,
    fade(@color_shadow, 60%) 48%,
    fade(@color_shadow, 20%) 66%,
    fade(@color_shadow,  9%) 73%,
    fade(@color_shadow,  2%) 82%,
    transparent 100%);

@color_toTop: #50a6ff;
@gradient_toTop: linear-gradient(to top,
transparent 0%,
fade(@color_toTop,  10%) 40%,
fade(@color_toTop, 60%) 86%,
fade(@color_toTop, 80%) 100%);



@color_gameSelect_text: #0091ea;
@color_gamesSelect_shadow: #041b38;

@color_gamesSelect_radialGradient: #1a8aff;
@gradient_gamesSelect: radial-gradient(circle closest-side,
    fade(@color_gamesSelect_radialGradient, 12%)  0%,
    fade(@color_gamesSelect_radialGradient, 11%) 14%,
    fade(@color_gamesSelect_radialGradient,  1%) 60%,
    transparent 100%);




@color_text_ghost: #6093bd;
@color_steps_shadow: #061a35;
@gradient_steps_shadow: radial-gradient(ellipse farthest-side,
    fade(@color_steps_shadow, 60%)  0%,
    fade(@color_steps_shadow, 59%)  6%,
    fade(@color_steps_shadow, 53%) 15%,
    fade(@color_steps_shadow, 18%) 44%,
    fade(@color_steps_shadow,  7%) 57%,
    fade(@color_steps_shadow,  1%) 74%,
    transparent 100%);




@gradient_steps_white: radial-gradient(ellipse farthest-side,
fade(white, 60%)  0%,
fade(white, 59%)  6%,
fade(white, 53%) 15%,
fade(white, 18%) 44%,
fade(white,  7%) 57%,
fade(white,  1%) 74%,
transparent 100%);




@color-footer-light: #8292a7;
@color-yellow: #ff9800;