@color_bg_main: #082040;
@color_menu_border: #08a5ff;
@color_menu_link_hover: #08a5ff;
@color_gamesSelect_shadow: #041b38;
@color_gamesSelect_radialGradient: rgba(26, 138, 255, .2);
//@color_gamesSelect_radialGradient: #1a8aff;
