@import "smart-grid";
@import "fluid";
@import "reset";
@import "colors";
@import "section-header";
@import "section-slogan";
@import "section-gamesSelector";
@import "section-footer";

body {
  font-family: Ubuntu, sans-serif;
  color: white;
  background-color: @color_bg_main;
}

.wrapper {
  .wrapper();
}