@import "smart-grid";
@import "variables";
@import "colors";

.section {
  &-growth {
    position: relative;
    padding: 130px 0;
    margin-bottom: -80px;
    .decorative {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      //transform: translateY(-50%);
      //width: 100%;
      //max-width: image-width("@{image_path_pre}/background-parallelogram-03.svg");
      //height: image-height("@{image_path_pre}/background-parallelogram-03.svg");
      //height: calc(100% - 160px);
      //height: 100%;
      //overflow: hidden;
      margin: 0 auto;
      &::before {
        content: '';
        display: block;
        //position: absolute;
        //top: 80px;
        //left: 0;
        //left: 50%;
        //top: 50%;
        //transform: translate(-50%, -50%);
        width: 100%;
        max-width: image-width("@{image_path_pre}/background-parallelogram-03.svg");
        height: calc(100% - 160px);
        //height: 100%;
        margin: 0 auto;
        background: url("@{image_path_post}/background-parallelogram-03.svg") center no-repeat;
        background-size: cover;
      }
    }
    .wrapper {
      display: flex;
      justify-content: flex-end;
      max-width: 1110px;
    }
    .col {
      &-title {
        position: relative;
        flex-shrink: 0;
        padding-left: 40px;
        margin-right: 27px;
        font-size: 30px;
        text-align: right;
        &::after {
          content: '';
          position: absolute;
          top: 7px;
          bottom: 5px;
          right: -28px;
          width: 2px;
          background-color: white;
        }
      }
      &-description {
        position: relative;
        max-width: 790px;
        margin-left: 27px;
        color: @color_almostWhite;
        line-height: 1.5;
      }
    }
  }
}