@import "colors";
@import "font";
@import "variables";

.section {
  &-slogan {
    position: relative;
    margin-top: 80px;
    > .wrapper {
      position: relative;
    }
    .wrapper {
      &-image {
        position: absolute;
        left: 0;
        right: 0;
        top: -600px;
        bottom: -600px;
        overflow: hidden;
        user-select: none;
        > .wrapper {
          height: 100%;
        }
      }
      &-second {
        position: relative;
        height: 100%;
      }
    }
    .block {
      &-text {
        position: relative;
        z-index: 1;
      }
      &-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        &-inner {
          position: absolute;
          top: 51%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: image-width("@{image_path_pre}/image-01.png");
          height: image-height("@{image_path_pre}/image-01.png");
          img {
            position: relative;
            display: block;
          }
        }
        &-bg {
          position: absolute;
          top: 30px;
          left: 50%;
          &::before, &::after, img {
            position: absolute;
            transform: translate(-50%, -50%);
          }
          &::before {
            content: url("@{image_path_post}/background-touches.png");
          }
          &::after {
            content: '';
            width: 1600px;
            height: 1600px;
            background: @gradient_slogan;
          }
          img {
            z-index: 10;
            max-width: none;
            transform: translate(-50%, -30%);
          }
        }
        &-shadow {
          position:   absolute;
          left: 50%;
          bottom: 30px;
          &::before, &::after {
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
          }
          &::before {
            width: 280px;
            height: 174px;
            background: @gradient_shadow_01;
          }
          &::after {
            top: 9px;
            width: 697px;
            height: 469px;
            background: @gradient_shadow_02;
          }
        }
        &-lingrad {
          position: absolute;
          top: -10px;
          left: -11px;
          [class^="grad-"] {
            position: absolute;
            width: 300px;
            height: 300px;
            transform: rotate(135deg) skew(25deg, 25deg);
            overflow: hidden;
            &::before {
              content: '';
              position: absolute;
              width: 128px;
              height: 317px;
              //width: 207px;
              //height: 176px;
              transform: translate(112px, -34px) rotate(20deg) skew(-25deg, 25deg);
              background: @gradient_toTop;
            }
          }
          .grad {
            &-01, &-02 {
              top: -98px;
            }
            &-01 {
              left: -35px;
            }
            &-02 {
              left: 275px;
            }
            &-03 {
              top: -178px;
              left: 121px;
            }
          }
        }
        &-rhombus {
          position: absolute;
          &:nth-child(1) {
            top: 149px;
            left: 104px;
          }
          &:nth-child(2) {
            top: 148px;
            left: 414px;
          }
          &:nth-child(3) {
            top: 68px;
            left: 259px;
          }
          &::before, &::after {
            content: '';
            position: absolute;
          }
          &::before {
            top: -31px;
            width: 109px;
            height: 93px;
            transform: translate(-50%, -50%);
            background: @gradient_steps_white;
            z-index: 1;
          }
          &::after {
            top: -40px;
            left: -9px;
            z-index: 1;
            width: 18px;
            height: 18px;
            transform: rotate(135deg) skew(25deg, 25deg);
            background-color: #fff;
          }
        }
      }
    }
    .title {
      display: block;
      font-size: 30px;
      font-weight: 300;
      line-height: 1.5;
    }
    .description {
      display: block;
      margin-top: 46px;
      color: @color_slogan_description;
      line-height: 1.5;
    }
    .button {
      @image_pre: "@{image_path_pre}/button.png";
      @image_post: "@{image_path_post}/button.png";

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: image-width("@{image_pre}");
      height: image-height("@{image_pre}");
      margin-top: 50px;
      box-sizing: border-box;
      font-size: 13px;
      font-family: "SF UI Display", sans-serif;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 0 2px 5px rgba(0, 34, 81, .51);
      background: url("@{image_post}");
      user-select: none;
      transition: .2s;
      &:hover {
        filter: drop-shadow(0 0 15px rgba(255, 255, 255, .3));
      }
      a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 293px;
        transform: translateZ(0) translate(36px) skewX(-41deg);
        span {
          transform: translate(-10px) skewX(41deg);
        }
        &::after, &::before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          right: 0;
          bottom: 2px;
          opacity: 0;
          background: #fff;
          transition: .2s;
        }
        &:hover {
          &::after {
            opacity: .2;
          }
        }
      }
    }
  }
}