@import "flags";
@import "colors";
@import "icomoon";
@import "variables";
@import "breaks";

.section {
  &-header {
    position: absolute;
    top: 32px;
    z-index: 2;
    width: 100%;
    padding: 8px @fields;
    box-sizing: border-box;
    @media screen and (max-width: @break_sm) {
      padding-right: @fields_sm;
      padding-left: @fields_sm;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: @color_bg_main;
      box-shadow: 0 0 30px 15px @color_bg_main;
      opacity: 0;
      transition: opacity .2s;
    }
    &.fixed {
      position: fixed;
      top: 0;
      transform: translateZ(0);
      &::before {
        opacity: 1;
      }
    }
    .wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0;
      @media screen and (max-width: @break_header) {
        justify-content: center;
      }
    }
    .logo {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 132px;
      height: 42px;
      &:hover {
        .logo-item {
          &-inner, &-outer {
            animation: animate-logo 2s infinite linear;
          }
          &-outer {
            animation-direction: reverse;
          }
        }
      }
      [class^="logo-item"] {
        &::before {
        &:extend(.im);
        }
        &:not(.logo-item-text) {
          position: absolute;
          color: @color-yellow;
        }
      }
      .logo-item {
        &-b {
          top: 50%;
          left: 17px;
          transform: translate(-50%, -50%) scale(.9);
          &::before {
            content: @icomoon-logo-bitcoin;
            font-size: 18px;
          }
        }
        &-inner {
          top: 6.6px;
          left: 4px;
          transform-origin: 50% 46%;
          &::before {
            content: @icomoon-logo-circle-inner;
            font-size: 26px;
          }
        }
        &-outer {
          top: -.5px;
          left: -4.6px;
          transform-origin: 51% 48%;
          &::before {
            content: @icomoon-logo-circle-outer;
            font-size: 41px;
          }
        }
        &-text {
          padding-top: 1px;
          &::before {
            content: @icomoon-logo-text;
            color: white;
            font-size: 25px;
          }
        }
      }
    }
    .menu {
      display: flex;
      height: 40px;
      @media screen and (max-width: @break_header) {
        display: none;
      }
      &-links {
        display: flex;
        align-items: center;
        height: 100%;
        padding-right: 26px;
        border-right: 1px solid @color_menu_border;
        @media screen and (max-width: @break_sm) {
          padding-right: 13px;
        }
        li {
          &:not(:first-child) {
            margin-left: 32px;
            @media screen and (max-width: @break_sm) {
              margin-left: 20px;
            }
          }
          a {
            display: block;
            padding: 6px 0;
            border-bottom: 2px solid transparent;
            user-select: none;
            transition: border-color .2s;
            &:hover {
              border-color: @color_menu_link_hover;
            }
          }
        }
      }
      &-lang {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 24px;
        cursor: pointer;
        @media screen and (max-width: @break_sm) {
          padding-right: 18px;
          padding-left: 12px;
        }
        &.open {
          &::after {
            transform: translateZ(0) translateY(-50%) rotate(180deg);
          }
        }
        .flag {
          position: relative;
          width: 22px;
          height: 16px;
          background: url("@{image_path_post}/sprite-flags.png");
          &-en {
            background-position-x: @flag_en;
          }
        }
        &-select {
          position: absolute;
          right: -40px;
          bottom: -8px;
          transform: translate(0, 120%);
          display: none;
          width: 230px;
          transition: .3s cubic-bezier(.4, 0, 0, 1);
          opacity: 0;
          &.open {
            transform: translate(0, 100%);
            opacity: 1;
          }
          &-item {
            height: 53px;
          }
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 184px;
            transform: translate(23px) skewX(-41deg);
            background: #0e4385;
            box-shadow: 25px 15px 50px fade(#001633, 80%);
            user-select: none;
            span {
              padding-right: 20px;
              transform: skewX(41deg);
            }
            &::before {
              content: '';
              position: absolute;
              top: 10px;
              bottom: 10px;
              left: 0;
              right: 0;
              background: #0f50a0;
            }
            &::after {
              content: '';
              width: 22px;
              height: 16px;
              background: url("@{image_path_post}/sprite-flags.png");
              transform: skewX(41deg);
            }
            &.ru {
              &::after {
                background-position-x: @flag_ru;
              }
            }
          }
        }
        &::after {
          &:extend(.im);
          content: @icomoon-arrow-down;
          font-size: 6px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateZ(0) translateY(-50%);
          transition: transform .2s;
        }
      }
    }
  }
}