@import "smart-grid";
@import "variables";

.section {
  &-offer {
    position: relative;
    z-index: 1;
    margin-top: 149px;
    .decorative {
      position: absolute;
      top: -50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: image-height("@{image_path_pre}/background-parallelogram-01.svg");
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: image-width("@{image_path_pre}/background-parallelogram-01.svg");
        height: image-height("@{image_path_pre}/background-parallelogram-01.svg");
        background: url("@{image_path_post}/background-parallelogram-01.svg") center no-repeat;
      }
    }
    .wrapper {
      display: flex;
      max-width: 937px;
    }
    .col {
      &-title {
        position: relative;
        flex-shrink: 0;
        margin-right: 27px;
        font-size: 30px;
        text-align: right;
        &::after {
          content: '';
          position: absolute;
          top: 7px;
          bottom: 5px;
          right: -28px;
          width: 2px;
          background-color: white;
        }
      }
      &-description {
        position: relative;
        margin-left: 27px;
        color: @color_almostWhite;
        line-height: 1.5;
      }
    }
  }
}