@import "colors";
@import "variables";
@import "fluid";

.section {
  &-advantages {
    position: relative;
    //height: 500px;
    margin-top: 130px;
    @media screen and (max-width: @break_md) {
      margin-top: 100px;
    }
    .wrapper {
      &-image {
        position: absolute;
        left: 0;
        right: 0;
        top: -550px;
        bottom: -550px;
        overflow: hidden;
        @media screen and (max-width: @break_md) {
          //display: none;
        }
        > .wrapper {
          height: 100%;
        }
      }
    }
    .block {
      &-image {
        position: absolute;
        top: 735px;
        .fluid(top, @break_advantages_2, 930px, 760px, 790px, 0, 0);
        .fluid(top, @break_md, @break_sm, 840px, 880px, 0, 0);
        .fluid(top, @break_sm, @break_advantages, 820px, 850px, 0, 0);
        .fluid(top, @break_advantages, @break_xs, 830px, 840px, 0, 0);
        .fluid(top, @break_xs, 480px, 792px, 805px, 0, 0);
        //top: calc(574px + 11%);
        //bottom: calc(565px + 13%);
        left: 50%;
        @media screen and (max-width: @break_lg) {
          //top: auto;
          //bottom: calc(597px + 17%);
        }
        @media screen and (max-width: @break_md) {
          left: 0;
          //top: 840px;
          //top: calc(667px + 10%);
          //bottom: auto;
        }
        @media screen and (max-width: @break_sm) {
          //top: calc(667px + 9.5%);
          //transform: scale(.9);
        }
        @media screen and (max-width: @break_advantages) {
          //top: 46%;
          transform: scale(.9);
          //top: 50%;
          //left: 50%;
        }
        @media screen and (max-width: @break_xs) {
          transform: scale(.8);
        }
        &::before, &::after {
          position: absolute;
          transform: translate(-50%, -50%);
        }
        &::before {
          content: url("@{image_path_post}/background-touches.png");
        }
        &::after {
          content: '';
          width: 1743px;
          height: 1476px;
          background: @gradient_slogan;
          opacity: .5;
        }
        .logo, .shadow {
          @media screen and (max-width: @break_md) {
            transform: translate(-50%, -50%) scale(1.4);
          }
          @media screen and (max-width: @break_sm) {
            transform: translate(-50%, -50%) scale(1.2);
          }
          @media screen and (max-width: @break_advantages) {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
        .logo, .lines, .shadow {
          position: absolute;
          z-index: 1;
          transform: translate(-50%, -50%);
          max-width: none;
          user-select: none;
          @media screen and (max-width: @break_advantages) {
            //display: none;
          }
        }
        .shadow {
          top: 4px;
        }
        .logo {
          //filter: drop-shadow(-30px 0 40px black);
        }
        .lines {
          @media screen and (max-width: @break_advantages_2) {
            transform: translate(-50%, -50%) scale(.8, 1.2);
          }
          @media screen and (max-width: @break_md) {
            transform: translate(-50%, -50%) scale(1, .9);
          }
          @media screen and (max-width: @break_sm) {
            transform: translate(-50%, -50%) scale(.8, .9);
          }
          @media screen and (max-width: @break_advantages) {
            transform: translate(-50%, -50%) scale(.6, 1);
          }
        }
        &:nth-child(2) {
          display: none;
          top: auto;
          //bottom: calc(592px + 9%);
          bottom: 710px;
          left: auto;
          right: 0;
          //top: 58.7%;
          @media screen and (max-width: @break_md) {
            display: block;
            .lines {
              clip: rect(140px, 437px, 326px, 0);
            }
          }
          @media screen and (max-width: @break_sm) {
            bottom: 700px;
            //bottom: calc(592px + 8%);
            //top: 59%;
          }
          @media screen and (max-width: @break_advantages) {
            //top: 59.6%;
            //display: none;
            .lines {
              transform: translate(-50%, -50%) scale(.6, .9);
            }
          }
          @media screen and (max-width: @break_xs) {
            bottom: 690px;
            .lines {
              transform: translate(-50%, -50%) scale(.6, .9);
            }
          }
        }
      }
    }
    > .wrapper {
      position: relative;
      z-index: 1;
    }
    .title-section {
      position: absolute;
      top: -20px;
      //top: 42px;
      .fluid(top, @break_advantages_2, 930px, -31px, -5px, 0, 0);
      right: calc(69.6% - 15px);
      .rem(30px);
      //font-size: 30px;
      line-height: 1.5;
      text-align: right;
      @media screen and (max-width: @break_md) {
        position: static;
        display: block;
        text-align: center;
        margin-bottom: 50px;
      }
    }
    .item {
      @width_px: 307px;
      @advantage_offset_1: 226px / @wrapperWidth * 100%;
      @width_percent: @width_px / @wrapperWidth * 100%;
      @advantage_offset_2: 50% - (@width_percent + @advantage_offset_1);

      @width_2_px: 270px;
      @advantage_offset_1_2: 270px / @wrapperWidth * 100%;
      @width_2_percent: @width_2_px / @wrapperWidth * 100%;
      @advantage_offset_2_2: 50% - (@width_2_percent + @advantage_offset_1_2);

      position: relative;
      width: round(@width_percent, 3);
      margin: 32px 0;
      @media screen and (max-width: @break_md) {
        width: 100%;
        &:nth-child(2),
        &:nth-child(5) {
          width: 100%;
        }
      }
      &-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: -30px 0;
        @media screen and (max-width: @break_md) {
          flex-direction: column;
          margin-right: 190px;
          margin-left: 190px;
        }
        @media screen and (max-width: @break_sm) {
          margin-right: 150px;
          margin-left: 150px;
        }
        @media screen and (max-width: @break_advantages) {
          max-width: 400px;
          margin-right: 100px;
          margin-left: 100px;
        }
        @media screen and (max-width: @break_xs) {
          max-width: none;
          margin-right: 0;
          margin-left: 0;
        }
      }

      &:nth-child(5), &:nth-child(4) {
        text-align: right;
        /*@media screen and (max-width: @break_advantages) {
          text-align: left;
        }*/
      }

      // Margins
      &:nth-child(1) {
        margin-left: round(@advantage_offset_1 + 50%, 3);
        margin-right: round(@advantage_offset_2, 3);
      }
      &:nth-child(5), &:nth-child(4) {
        margin-right: round(@advantage_offset_1, 3);
        margin-left: round(@advantage_offset_2, 3);
      }
      &:nth-child(3), &:nth-child(2) {
        margin-left: round(@advantage_offset_1, 3);
        margin-right: round(@advantage_offset_2, 3);
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        .fluid(margin-top, @break_advantages, 480px, 30px, 22px, 0, 0);
        .fluid(margin-bottom, @break_advantages, 480px, 30px, 22px, 0, 0);
        @media screen and (max-width: @break_md) {
          margin-right: 0;
          margin-left: 0;
        }
        @media screen and (max-width: @break_md) {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }

      // Ordering
      &:nth-child(5), &:nth-child(1) {
        order: -2;
        @media screen and (max-width: @break_md) {
          order: initial;
        }
      }
      &:nth-child(4), &:nth-child(2) {
        order: -1;
        @media screen and (max-width: @break_md) {
          order: initial;
        }
      }

      // Margins
      &:nth-child(1) {
        margin-top: 0;
        margin-bottom: 0;
      }
      &:nth-child(2), &:nth-child(5) {
        //margin-top: 42px;
        //margin-bottom: 42px;
        .fluid(margin-top, @break_advantages_2, 930px, 42px, 28px, 1, 0);
        .fluid(margin-bottom, @break_advantages_2, 930px, 42px, 18px, 1, 0);
      }
      &:nth-child(3), &:nth-child(4) {
        margin-top: 0;
        margin-bottom: 0;
        @media screen and (max-width: @break_lg) {

        }
      }

      // Ghost numbers
      &::before {
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translate(-50%, -50%);
        color: @color_text_ghost;
        .rem(150px);
        //font-size: 150px;
        font-weight: bold;
        opacity: .05;
      }
      &:nth-child(5), &:nth-child(4) {
        &::before {
          left: unset;
          right: -10px;
          transform: translate(50%, -50%);
          /*@media screen and (max-width: @break_advantages) {
            left: -10px;
            right: auto;
            transform: translate(-50%, -50%);
          }*/
        }
      }
      &:nth-child(1) {
        &::before {
          content: '1';
        }
      }
      &:nth-child(2) {
        width: round(50% - @advantage_offset_1_2, 3);
        //width: round(@width_2_percent, 3);
        //margin-right: round(@advantage_offset_2_2, 3);
        margin-right: 0;
        margin-left: round(@advantage_offset_1_2, 3);
        &::before {
          content: '2';
        }
      }
      &:nth-child(3) {
        &::before {
          content: '3';
        }
      }
      &:nth-child(4) {
        &::before {
          content: '4';
          right: -4px;
        }
      }
      &:nth-child(5) {
        width: round(50% - @advantage_offset_1_2, 3);
        //width: round(@width_2_percent, 3);
        margin-right: round(@advantage_offset_1_2, 3);
        margin-left: 0;
        //margin-left: round(@advantage_offset_2_2, 3);
        &::before {
          content: '5';
          right: 2px;
        }
      }

      // Mobile offset
      @media screen and (max-width: @break_xs) {
        // Max-width
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5) {
          width: calc(100% - 100px);
        }
        &:nth-child(2),
        &:nth-child(4) {
          width: calc(100% - 120px);
        }
        // Align
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          align-self: flex-start;
        }
        &:nth-child(4),
        &:nth-child(5) {
          align-self: flex-end;
        }
        // Margins
        &:nth-child(1),
        &:nth-child(3) {
          margin-left: 100px;
        }
        &:nth-child(2) {
          margin-left: 120px;
        }
        &:nth-child(4) {
          margin-right: 120px;
        }
        &:nth-child(5) {
          margin-right: 100px;
        }
      }
      &:nth-child(2) {
        @media screen and (max-width: @break_md) {
          left: 60px;
        }
        @media screen and (max-width: @break_sm) {
          left: 40px;
        }
        @media screen and (max-width: @break_advantages) {
          //left: auto;
        }
        @media screen and (max-width: @break_xs) {
          left: auto;
        }
      }
      &:nth-child(4) {
        @media screen and (max-width: @break_md) {
          right: 60px;
        }
        @media screen and (max-width: @break_sm) {
          right: 40px;
        }
        @media screen and (max-width: @break_advantages) {
          //right: auto;
        }
        @media screen and (max-width: @break_xs) {
          right: auto;
        }
      }

      &-title {
        position: relative;
        display: block;
        margin-bottom: 5px;
        color: @color_gameSelect_text;
        .rem(20px);
        //font-size: 20px;
      }
      &-description {
        position: relative;
        display: block;
        line-height: 1.2;
      }
    }
  }
}