@import "smart-grid";
@import "variables";
@import "colors";

.section {
  &-growth {
    position: relative;
    padding: 130px 0;
    margin-bottom: -80px;
    @media screen and (max-width: @break_header) {
      padding: 150px 0;
    }
    .decorative {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      &::before {
        content: '';
        display: block;
        width: 100%;
        max-width: image-width("@{image_path_pre}/background-parallelogram-03.svg");
        height: calc(100% - 160px);
        margin: 0 auto;
        background: url("@{image_path_post}/background-parallelogram-03.svg") center no-repeat;
        background-size: cover;
        @media screen and (max-width: @break_header) {
          height: calc(100% - 190px);
        }
      }
    }
    .wrapper {
      display: flex;
      justify-content: flex-end;
      max-width: 1110px;
      @media screen and (max-width: @break_md) {
        flex-direction: column;
        align-items: center;
      }
    }
    .col {
      &-title {
        position: relative;
        flex-shrink: 0;
        margin-right: 27px;
        .rem(30px);
        //font-size: 30px;
        text-align: right;
        @media screen and (max-width: @break_md) {
          margin-right: 0;
          margin-bottom: 10px;
          > br {
            display: none;
          }
        }
        &::after {
          content: '';
          position: absolute;
          top: 7px;
          bottom: 5px;
          right: -28px;
          width: 2px;
          background-color: white;
        }
      }
      &-description {
        position: relative;
        max-width: 750px;
        margin-left: 27px;
        color: @color_almostWhite;
        line-height: 1.5;
        @media screen and (max-width: @break_md) {
          margin-left: 0;
          max-width: none;
        }
      }
    }
  }
}