@import "colors";
@import "variables";
@import "fluid";
@import "breaks";

.section {
  &-advantages {
    position: relative;
    //height: 500px;
    margin-top: 130px;
    @media screen and (max-width: @break_md) {
      margin-top: 100px;
    }
    .wrapper {
      &-image {
        position: absolute;
        left: 0;
        right: 0;
        top: -550px;
        bottom: -550px;
        overflow: hidden;
        > .wrapper {
          height: 100%;
        }
      }
    }
    .block {
      &-image {
        position: absolute;
        top: 735px;
        .fluid(top, @break_advantages_2, 930px, 760px, 790px, 0, 0);
        .fluid(top, @break_md, @break_sm, 840px, 880px, 0, 0);
        .fluid(top, @break_sm, @break_advantages, 838px, 868px, 0, 0);
        .fluid(top, @break_advantages, @break_xs, 860px, 850px, 0, 0);
        //.fluid(top, @break_xs, 480px, 850px, 805px, 0, 0);
        left: 50%;
        @media screen and (max-width: @break_md) {
          left: 0;
        }
        @media screen and (max-width: @break_advantages) {
          transform: scale(.9);
        }
        @media screen and (max-width: @break_xs) {
          top: 850px;
          transform: scale(.8);
        }
        &::before, &::after {
          position: absolute;
          transform: translate(-50%, -50%);
        }
        &::before {
          content: url("@{image_path_post}/background-touches.png");
        }
        &::after {
          content: '';
          width: 1743px;
          height: 1476px;
          background: @gradient_slogan;
          opacity: .5;
        }
        .logo, .shadow {
          @media screen and (max-width: @break_md) {
            transform: translate(-50%, -50%) scale(1.4);
          }
          @media screen and (max-width: @break_sm) {
            transform: translate(-50%, -50%) scale(1.2);
          }
          @media screen and (max-width: @break_advantages) {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
        .logo, .lines, .shadow {
          position: absolute;
          z-index: 1;
          transform: translate(-50%, -50%);
          max-width: none;
          user-select: none;
        }
        .shadow {
          top: 4px;
        }
        .logo {
          top: 12px;
          filter: drop-shadow(0 0 10px rgba(0, 169, 228, .45));
          /*@media screen and (max-width: @break_advantages_2) {
            top: 15px;
          }*/
          @media screen and (max-width: @break_md) {
            top: 11px;
          }
        }
        .lines {
          @media screen and (max-width: @break_advantages_2) {
            transform: translate(-50%, -50%) scale(.8, 1);
          }
          @media screen and (max-width: @break_md) {
            transform: translate(-50%, -50%) scale(1, .9);
          }
          @media screen and (max-width: @break_sm) {
            transform: translate(-50%, -50%) scale(.8, .9);
          }
          @media screen and (max-width: @break_advantages) {
            transform: translate(-50%, -50%) scale(.6, 1);
          }
          @media screen and (max-width: 400px) {
            display: none;
          }
        }
        &:nth-child(2) {
          display: none;
          top: auto;
          bottom: 720px;
          left: auto;
          right: 0;
          @media screen and (max-width: @break_md) {
            display: block;
            .lines {
              clip: rect(140px, 437px, 326px, 0);
            }
          }
          /*@media screen and (max-width: @break_sm) {
            bottom: 700px;
          }*/
          @media screen and (max-width: @break_advantages) {
            .lines {
              transform: translate(-50%, -50%) scale(.6, .9);
            }
          }
          @media screen and (max-width: @break_xs) {
            //bottom: 690px;
            .lines {
              transform: translate(-50%, -50%) scale(.6, .9);
            }
          }
        }
      }
    }
    > .wrapper {
      position: relative;
      z-index: 1;
    }
    .title-section {
      position: absolute;
      top: -20px;
      //top: 42px;
      .fluid(top, @break_advantages_2, 930px, -31px, -5px, 0, 0);
      right: calc(69.6% - 15px);
      .rem(30px);
      //font-size: 30px;
      line-height: 1.5;
      text-align: right;
      @media screen and (max-width: @break_md) {
        position: static;
        display: block;
        text-align: center;
        margin-bottom: 50px;
      }
    }
    .item {
      @width_px: 307px;
      @advantage_offset_1: 226px / @wrapperWidth * 100%;
      @width_percent: @width_px / @wrapperWidth * 100%;
      @advantage_offset_2: 50% - (@width_percent + @advantage_offset_1);

      @width_2_px: 270px;
      @advantage_offset_1_2: 270px / @wrapperWidth * 100%;
      @width_2_percent: @width_2_px / @wrapperWidth * 100%;
      @advantage_offset_2_2: 50% - (@width_2_percent + @advantage_offset_1_2);

      position: relative;
      width: round(@width_percent, 3);
      margin: 32px 0;
      @media screen and (max-width: @break_md) {
        width: 100%;
        &:nth-child(2),
        &:nth-child(5) {
          width: 100%;
        }
      }
      &-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: -30px 0;
        @media screen and (max-width: @break_md) {
          flex-direction: column;
          margin-right: 190px;
          margin-left: 190px;
        }
        @media screen and (max-width: @break_sm) {
          margin-right: 150px;
          margin-left: 150px;
        }
        @media screen and (max-width: @break_advantages) {
          max-width: 400px;
          margin-right: 100px;
          margin-left: 100px;
        }
        @media screen and (max-width: @break_xs) {
          max-width: none;
          margin-right: 0;
          margin-left: 0;
        }
      }

      &:nth-child(5), &:nth-child(4) {
        text-align: right;
      }

      // Margins
      &:nth-child(1) {
        margin-left: round(@advantage_offset_1 + 50%, 3);
        margin-right: round(@advantage_offset_2, 3);
      }
      &:nth-child(5), &:nth-child(4) {
        margin-right: round(@advantage_offset_1, 3);
        margin-left: round(@advantage_offset_2, 3);
      }
      &:nth-child(3), &:nth-child(2) {
        margin-left: round(@advantage_offset_1, 3);
        margin-right: round(@advantage_offset_2, 3);
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        .fluid(margin-top, @break_advantages, 480px, 30px, 22px, 0, 0);
        .fluid(margin-bottom, @break_advantages, 480px, 30px, 22px, 0, 0);
        @media screen and (max-width: @break_md) {
          margin-right: 0;
          margin-left: 0;
        }
        @media screen and (max-width: @break_md) {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }

      &:nth-child(5) {
        @media screen and (max-width: @break_md) {
          margin-top: 50px;
        }
        @media screen and (max-width: @break_advantages) {
          margin-top: 60px;
        }
      }

        // Ordering
      &:nth-child(5), &:nth-child(1) {
        order: -2;
        @media screen and (max-width: @break_md) {
          order: initial;
        }
      }
      &:nth-child(4), &:nth-child(2) {
        order: -1;
        @media screen and (max-width: @break_md) {
          order: initial;
        }
      }

      // Margins
      &:nth-child(1) {
        margin-top: 0;
        margin-bottom: 0;
      }
      &:nth-child(2), &:nth-child(5) {
        .fluid(margin-top, @break_advantages_2, 930px, 42px, 28px, 1, 0);
        .fluid(margin-bottom, @break_advantages_2, 930px, 42px, 18px, 1, 0);
      }
      &:nth-child(3), &:nth-child(4) {
        margin-top: 0;
        margin-bottom: 0;
      }

      // Ghost numbers
      &::before {
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translate(-50%, -50%);
        color: @color_text_ghost;
        .rem(150px);
        font-weight: bold;
        opacity: .05;
      }
      &:nth-child(5), &:nth-child(4) {
        &::before {
          left: unset;
          right: -10px;
          transform: translate(50%, -50%);
        }
      }
      &:nth-child(1) {
        &::before {
          content: '1';
        }
      }
      &:nth-child(2) {
        width: round(50% - @advantage_offset_1_2, 3);
        margin-right: 0;
        margin-left: round(@advantage_offset_1_2 + 50%, 3);
        &::before {
          content: '2';
        }
      }
      &:nth-child(3) {
        &::before {
          content: '3';
        }
      }
      &:nth-child(4) {
        &::before {
          content: '4';
          right: -4px;
        }
      }
      &:nth-child(5) {
        width: round(50% - @advantage_offset_1_2, 3);
        margin-right: round(@advantage_offset_1_2, 3);
        margin-left: 0;
        &::before {
          content: '5';
          right: 2px;
        }
      }

      // Mobile offset
      @media screen and (max-width: @break_xs) {
        // Max-width
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          width: calc(100% - 120px);
        }
        // Align
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          align-self: flex-start;
        }
        &:nth-child(4),
        &:nth-child(5) {
          align-self: flex-end;
        }
        // Margins
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-left: 120px;
        }
        &:nth-child(4),
        &:nth-child(5) {
          margin-right: 120px;
        }
      }
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        @media screen and (max-width: @break_md) {
          left: 60px;
        }
        @media screen and (max-width: @break_sm) {
          left: 40px;
        }
        @media screen and (max-width: @break_xs) {
          left: auto;
        }
      }
      &:nth-child(4), &:nth-child(5) {
        @media screen and (max-width: @break_md) {
          right: 60px;
        }
        @media screen and (max-width: @break_sm) {
          right: 40px;
        }
        @media screen and (max-width: @break_xs) {
          right: auto;
        }
      }

      &:nth-child(2) {
        @media screen and (max-width: @break_advantages) {
          max-width: 410px;
          align-self: flex-end;
        }
      }

      &-title {
        position: relative;
        display: block;
        color: @color_gameSelect_text;
        .rem(20px);
      }
      &-description {
        position: relative;
        display: block;
        line-height: 1.2;
      }
      span:nth-child(2) {
        margin-top: 5px;
      }
    }
  }
}