@import "colors";
@import "variables";

.section {
  &-gamesSelect {
    .row {
      .row-flex();
    }
    .item {
      .col();
      .size(3);
      background-color: @color_bg_main;
      box-shadow: 0 30px 60px @color_gamesSelect_shadow;
      &-wrapper {
        position: relative;
        padding-top: 100%;
        overflow: hidden;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: @gradient_position_percent;
          transform: translate(-50%, -50%);
          width: @gradient_size;
          height: @gradient_size;
          //background-image: @gradient_gamesSelect;
          background-image: radial-gradient(circle farthest-side, fade(@color_gamesSelect_radialGradient, 20%), transparent);
        }
      }
      &-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-bottom: @block_padding_percent;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        img {
          position: absolute;
          top: @picture_offset_y_percentage;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        span {
          color: @color_gameSelect_text;
          font-size: 20px;
        }
      }
    }
  }
}