@import "colors";
@import "variables";
@import "font";
@import "breaks";

.section {
  &-steps {
    position: relative;
    padding: 120px 0;
    margin-bottom: -12px;
    @media screen and (max-width: @break_steps_1) {
      margin-bottom: -30px;
    }
    @media screen and (max-width: @break_steps_2) {
      margin-bottom: -70px;
    }
    @media screen and (max-width: @break_steps_3) {
      margin-bottom: -130px;
    }
    @media screen and (max-width: @break_steps_4) {
      display: flex;
      margin-bottom: 250px;
    }
    @media screen and (max-width: @break_steps_5) {
      margin-bottom: 200px;
    }
    @media screen and (max-width: @break_steps_6) {
      margin-bottom: 150px;
    }
    > .wrapper {
      @media screen and (max-width: @break_xs) {
        padding-left: 44px;
      }
    }
    .wrapper {
      &-second {
        position: relative;
        height: 100%;
      }
      &-image {
        position: absolute;
        left: 0;
        right: 0;
        top: -550px;
        bottom: -550px;
        overflow: hidden;
        > .wrapper {
          height: 100%;
        }
      }
    }
    .block {
      &-image {
        position: absolute;
        top: 50%;
        //left: 26.8%;
        left: 334px;
        @media screen and (max-width: @break_steps_1) {
          left: 300px;
          transform: scale(.9);
        }
        @media screen and (max-width: @break_steps_2) {
          left: 267px;
          transform: scale(.8);
        }
        @media screen and (max-width: @break_steps_3) {
          left: 231px;
          transform: scale(.7);
        }
        @media screen and (max-width: @break_steps_4) {
          top: 74%;
          left: 50%;
        }
        @media screen and (max-width: @break_steps_5) {
          top: 72%;
          transform: scale(.6);
        }
        @media screen and (max-width: @break_steps_6) {
          top: 71%;
          transform: scale(.5);
        }
        img {
          user-select: none;
        }
        &-bg {
          &::before, &::after, img {
            position: absolute;
            transform: translate(-50%, -50%);
          }
          &::before {
            content: url("@{image_path_post}/background-touches.png");
          }
          &::after {
            content: '';
            width: 1743px;
            height: 1476px;
            background: @gradient_slogan;
            opacity: .5;
          }
          img {
            top: 43px;
            left: 15px;
            max-width: none;
            transform: translate(-50%, -50%);
          }
        }
      }
      &-text {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 686px;
        @media screen and (max-width: @break_steps_1) {
          align-items: flex-end;
          margin-left: 480px;
        }
        @media screen and (max-width: @break_steps_4) {
          align-items: flex-start;
          margin-left: 0;
        }
        &-step {
          max-width: 270px;
          position: relative;
          @media screen and (max-width: @break_steps_4) {
            max-width: 350px;
          }
          &:not(:first-child) {
            margin-top: 78px;
          }
          .title {
            position: relative;
            display: block;
            margin-bottom: 4px;
            color: @color_gameSelect_text;
            .rem(20px);
            //font-size: 20px;
          }
          .description {
            position: relative;
            display: block;
          }
          &::before {
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translate(-50%, -50%);
            color: @color_text_ghost;
            .rem(150px);
            //font-size: 150px;
            font-weight: bold;
            opacity: .05;
          }
          &:nth-child(1) {
            &::before {
              content: '1';
            }
          }
          &:nth-child(2) {
            &::before {
              content: '2';
            }
          }
          &:nth-child(3) {
            &::before {
              content: '3';
            }
          }
        }
      }
      &-currency, &-bclounge, &-blocks {
        position: absolute;
        img {
          position: absolute;
          max-width: none;
          transform: translate(-50%, -50%);
        }
        .title {
          position: absolute;
          top: -121px;
          transform: translate(-50%, -100%);
          width: 300px;
          font-family: "SF UI Display", sans-serif;
          .rem(28px);
          //font-size: 28px;
          font-weight: 600;
          line-height: 1.2;
          text-align: center;
          letter-spacing: 1.3px;
        }
        &::before, &::after {
          position: absolute;
          transform: translate(-50%, -50%);
        }
      }
      &-currency {
        top: -35px;
        .lines {
          &-block {
            &-top {
              position: absolute;
              top: 90px;
              left: -5px;
            }
            &-bottom {
              position: absolute;
            }
          }
        }
        img {
          &.lines {
            &-shadow {
              top: 170px;
              left: -5px;
              filter: blur(4px);
            }
          }
          &.drops {
            top: -35px;
            left: 15px;
            &-blurred {
              top: -36px;
              left: 6px;
              filter: blur(3.2px);
            }
          }
          &.currencyIcon {
            z-index: 1;
          }
        }
        &::before, &::after {
          content: '';
        }
        &::before {
          width: 640px;
          height: 627px;
          background: @gradient_slogan;
        }
        &::after {
          top: 130px;
          width: 210px;
          height: 136px;
          background: @gradient_steps_shadow;
        }
      }
      &-bclounge {
        top: 141px;
        left: -220px;
        .title {
          top: -110px;
          left: -25px;
          transform: translate(-50%, -100%) scaleX(.7) skewY(-14deg);
        }
        &::before {
          content: '';
          top: 130px;
          width: 309px;
          height: 207px;
          background: @gradient_steps_shadow;
        }
      }
      &-blocks {
        top: 141px;
        left: 218px;
        &::before {
          content: '';
          top: 130px;
          width: 347px;
          height: 219px;
          background: @gradient_steps_shadow;
        }
        .title {
          top: -86px;
          left: -4px;
          transform: translate(-50%, -100%) scaleX(.7) skewY(14deg);
        }
        &-grad {
          position: absolute;
          top: -255px;
          left: -149px;
          z-index: 1;
          width: 300px;
          height: 300px;
          transform: rotate(135deg) skew(25deg, 25deg);
          overflow: hidden;
          &::before {
            content: '';
            position: absolute;
            width: 133px;
            height: 312px;
            transform: translate(112px, -34px) rotate(20deg) skew(-25deg, 25deg);
            background: @gradient_toTop;
          }
        }
        &-rhombus {
          &::before, &::after {
            content: '';
            position: absolute;
          }
          &::before {
            top: -31px;
            width: 109px;
            height: 93px;
            transform: translate(-50%, -50%);
            background: @gradient_steps_white;
            z-index: 1;
          }
          &::after {
            top: -40px;
            left: -9px;
            z-index: 1;
            width: 18px;
            height: 18px;
            transform: rotate(135deg) skew(25deg, 25deg);
            background-color: #fff;
          }
        }
      }
      &-lines {
        &-bottom {
          position: absolute;
          top: 147px;
          img {
            position: absolute;
            max-width: none;
            transform: translate(-50%);
            &.lines-bottom {
              left: -20px;
            }
            &.drops {
              &-bottom {
                top: 12px;
                left: -19px;
                &-blurred {
                  top: -4px;
                  left: -10px;
                  filter: blur(3.2px);
                }
              }
            }
          }
        }
      }
    }
  }
}